{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe App</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Recipe Details</h1>
    <div class="detail-container">
        <h2>{{object.name}}</h2>

        <img src="{{object.pic.url}}" width="200" height="300"/> <br>

        <div class="recipe-details">
            <b>Notes: </b> {{object.notes}} <br>

            <b>Cooking Time (in minutes): </b> {{object.cooking_time}} <br>

            <b>Ingredients: </b> {{object.ingredients}} <br>

            <b>Difficulty: </b>{{object.difficulty}} <br>
        </div>
        <a href="{% url 'recipes:list' %}" class="button">Back</a>
    </div>
</body>
</html>